<html>
  <head>
    <title>sinatraProject</title>
  </head>
  <body>
    <h1>Detail du Gossip</h1>
    <h3>detail du Gossip n°<%= id %></h3>
    <table>
      <tr>
        <td>Auteur du Gossip</td><td>: <%= show.author %></td>
      </tr>
      <tr>
        <td>Contenue du Gossip</td><td>: <%= show.content %></td>
      </tr>
    </table>
    <br><a href = '/'>Retour à l'acceuil</a>
  </body>
</html>